.containerr {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .containerr::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .time-right {
    float: right;
    color: #aaa;
  }
  
  .time-left {
    float: left;
    color: #999;
  }